@import "./reset.scss";
@import "./fonts.scss";
@import "./varsmix.scss";

.fade-in {
    opacity: 1;
    transition: 2s linear;
}

.invalid-date {
    display: none;
}

.backgroundwrapper {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}

.flexwrapper {
    display: flex;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row {
    width: 90.5%;
    display: flex;
    justify-content: flex-start;
    margin-left: 4.7vw;
    overflow: hidden;

}

.rowTwo {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.teltexttop {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1vh;
    overflow: hidden;
}

.headerblock {
    background-color: $blue;
    height: 7vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.regularspan {
    @include txtwhite;
    font-size: 1.5vw;
    overflow: hidden;
}

.emptyspan {
    width: 6vw;
    overflow: hidden;
}

.longemptyspan {
    width: 30vw;
    overflow: hidden;
}

.datespan {
    @include txtwhite;
    font-size: 1.5vw;
    width: 15vw;
    text-align: right;
    overflow: hidden;
}

.timespan {
    @include txtblue;
    font-size: 1.5vw;
    width: 13vw;
    text-align: right;
    overflow: hidden;
}

h1 {
    @include txtyellow;
    font-size: 7vw;
    letter-spacing: 3.9vw;
    position: relative;
    width: 98%;
    margin-left: 0.5vw;
    overflow: hidden;
}

.contentblock {
    display: flex;
    margin-top: 3vh;
    margin-left: 1vw;
    height: 77vh;
    width: calc(100vw - 2vw);
    overflow: hidden;
}

.citiesleft {
    height: 100%;
    width: 35%;
    padding-left: 80px;
    overflow: hidden;
}

.timeleft {
    height: 100%;
    width: 15%;
    padding-left: 1vw;
    overflow: hidden;
}

.citiesright {
    height: 100%;
    width: 35%;
    padding-left: 80px;
    overflow: hidden;
}

.timeright {
    height: 100%;
    width: 15%;
    padding-left: 1vw;
    overflow: hidden;
}

.txtyellow {
    @include txtyellow;
    font-size: 2.3vh;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
}

.txtwhite {
    @include txtwhite;
    font-size: 2.3vh;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: hidden;
}

.time {
    @include txtblue;
    font-size: 2.3vh;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: hidden;
}

@media screen and (orientation: portrait) {
    .txtyellow {
        font-size: 1.3vh;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .citiesleft {
        padding-left: 5px;
    }

    .txtwhite {
        font-size: 1.3vh;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .citiesright {
        padding-left: 5px;
    }
    
    .time {
        font-size: 1.3vh;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media screen and (max-width: 280px){
    .txtyellow {
            font-size: 1.1vh;
            padding-top: 1.6vh;
            padding-bottom: 1.6vh;
        }
    
        .citiesleft {
            padding-left: 5px;
        }
    
        .txtwhite {
            font-size: 1.1vh;
            padding-top: 1.6vh;
            padding-bottom: 1.6vh;
        }
    
        .citiesright {
            padding-left: 5px;
        }

        .contentblock {
            height: 90vh;
        }
    
        .time {
            font-size: 1.1vh;
            padding-top: 1.6vh;
            padding-bottom: 1.6vh;
        }
};

@media screen and (orientation: portrait) and (min-width: 281px) and (max-width: 375px) {
    .txtyellow {
            font-size: 1.1vh;
            padding-top: 1.6vh;
            padding-bottom: 1.6vh;
        }
    
        .citiesleft {
            padding-left: 5px;
        }
    
        .txtwhite {
            font-size: 1.1vh;
            padding-top: 1.6vh;
            padding-bottom: 1.6vh;
        }
    
        .citiesright {
            padding-left: 5px;
        }
    
        .contentblock {
            height: 88vh;
        }
    
        .time {
            font-size: 1.1vh;
            padding-top: 1.6vh;
            padding-bottom: 1.6vh;
        }
};

@media screen and (orientation: portrait) and (min-width: 376px) and (max-width: 420px) and (max-height: 920px) {
    .txtyellow {
            font-size: 1.1vh;
            padding-top: 1.7vh;
            padding-bottom: 1.7vh;
        }
    
        .citiesleft {
            padding-left: 5px;
        }
    
        .txtwhite {
            font-size: 1.1vh;
            padding-top: 1.7vh;
            padding-bottom: 1.7vh;
        }
    
        .citiesright {
            padding-left: 5px;
        }
    
        .contentblock {
            height: 88vh;
        }
    
        .time {
            font-size: 1.1vh;
            padding-top: 1.7vh;
            padding-bottom: 1.7vh;
        }
}

@media screen and (orientation: portrait) and (min-width: 421px) and (max-width: 767px) and (max-height: 1150px) {
    .txtyellow {
            font-size: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
    
        .citiesleft {
            padding-left: 5px;
        }
    
        .txtwhite {
            font-size: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
    
        .citiesright {
            padding-left: 5px;
        }
    
        .contentblock {
            height: 88vh;
        }
    
        .time {
            font-size: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
}

@media screen and (orientation: landscape) and (width: 640px) and (height: 360px) {
    .txtyellow {
            font-size: 1.23vh;
            padding-top: 1.3vh;
            padding-bottom: 1.3vh;
        }
    
        .citiesleft {
            padding-left: 5px;
        }
    
        .txtwhite {
            font-size: 1.5vh;
            padding-top: 1.3vh;
            padding-bottom: 1.3vh;
        }
    
        .citiesright {
            padding-left: 5px;
        }
    
        .contentblock {
            height: 88vh;
        }
    
        .time {
            font-size: 1.5vh;
            padding-top: 1.3vh;
            padding-bottom: 1.3vh;
        }
};

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1300px) {
    .txtyellow {
            font-size: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
    
        .citiesleft {
            padding-left: 5px;
        }
    
        .txtwhite {
            font-size: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
    
        .citiesright {
            padding-left: 5px;
        }
    
        .contentblock {
            height: 88vh;
        }
    
        .time {
            font-size: 1.5vh;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
        }
}

@media screen and (orientation: portrait) and (max-width: 240px) and (max-height: 320px) {
    .contentblock {
            height: 85vh;
        }

}